$padX: 16px;
$padY: 6px;

.btn {
  background: none;
  border: none;
  outline: none;

  padding: $padY $padX;
  font-weight: bold;
  cursor: pointer;

  border-width: 2px;
  border-style: solid;
  border-color: $color-white;
  background: $color-white;
  color: $color-black;

  transition: 0.15s all ease-in-out;

  &--empty {
    border-radius: 5px;
    background: transparent;
    border-style: dashed;
    color: $color-black-05;
    border-color: $color-black-05;

    &:hover {
      color: $color-black-066;
      border-color: $color-black-066;
    }
  }
  &--big {
    font-size: 23px;
    line-height: 28px;
    padding: $padY * 3 $padX * 2 + 20px;
  }

  &--black {
    border-color: $color-black;
    background: $color-black;
    color: $color-white;
  }
}
