$color-black: #000;
$color-black-05: rgba($color-black, 0.5);
$color-black-025: rgba($color-black, 0.25);

$color-purple: #8A4E78;
$color-yellow: #FFC700;
$color-green: #839950;
$color-red:#9F2628;

$color-white: #fff;
$color-light1: #f2f2f2;
$color-light2: #C4C4C4;
$color-light3: #525252;
