body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.container {
  display: block;
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}
