.cta {
  padding: 65px 0 45px;
  background: $color-light1;
  &__title {
    text-align: center;
  }
  &__subtitle {
    color: $color-dark;
    text-align: center;

    margin-bottom: 46px;
    margin-top: 20px;
    font-size: 18px;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    .btn,
    .form__input {
      width: calc(25% - 15px);
    }

    .btn {
      font-size: 17px;
      &:hover {
        background: $color-black-075;
      }
    }
  }
}

