.cta {
  padding: 65px 0 45px;
  background: $color-light1;
  &__title {
    text-align: center;
  }
  &__subtitle {
    color: $color-dark;
    text-align: center;

    margin-bottom: 46px;
    margin-top: 20px;
    font-size: 18px;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    .btn,
    .form__input {
      width: calc(25% - 15px);
    }

    .btn {
      font-size: 17px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.form {
  &__input {
    font-size: 19px;
    background: $color-white;
    border-width: 2px;
    border-style: solid;
    border-color: $color-white;
    color: $color-black;
    outline: none;

    will-change: all;
    transition: 0.2s all ease-in-out;
    &--text {
      padding: 11px 11px 8px;

      &:active {
        border-style: dashed;
        border-color: $color-black-05;
      }
      &:focus {
        outline: none;
        border-style: dashed;
        border-color: $color-black;
      }
      &::placeholder {
        color: $color-black-05;
      }
    }
  }
  &__help {
    width: 100%;
    text-align: center;
    color: $color-black-05;
    margin-top: 18px;
  }
}
