.hero {
  color: $color-white;
  overflow: hidden;
  position: relative;
}

@mixin addSlide($n) {
  &--item-active-#{$n} {
    margin-left: -100% * ($n - 1);
    margin-right: 100% * ($n - 1);
    .slider__item:nth-child(#{$n}) {
      opacity: 1;
    }
  }
}

.slider {
  min-height: 696px;
  display: flex;
  align-content: stretch;
  transition: 0.5s margin ease-in-out;

  &__item {
    padding-top: 50px;
    padding-bottom: 145px;
    width: 100%;
    flex-shrink: 0;
    transition: 0.75s opacity ease-in-out;
    opacity: 0.75;
  }

  @include addSlide(1);
  @include addSlide(2);
  @include addSlide(3);
  @include addSlide(4);
  @include addSlide(5);
}

.slider-controls {
  position: absolute;
  display: flex;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);

  &__item {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: $color-white-03;
    border: 2px solid $color-black;
    margin: 5px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    &.active {
      background: $color-light2;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.slide {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .container {
    padding-left: 135px;
  }

  &__title {
    margin-bottom: 73px;
  }
  &__text {
    margin-bottom: 53px;
    font-size: 24px;
    line-height: 34px;
    text-shadow: 0px 4px 4px $color-black-025;
    max-width: 800px;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  &__button {
    &:hover {
      box-shadow: 2px 4px 8px $color-black-01;
    }
  }
}
