.form {
  &__input {
    border-radius: $borad-global;
    font-size: 19px;
    background: $color-white;
    border-width: 2px;
    border-style: solid;
    border-color: $color-white;
    color: $color-black;
    outline: none;

    will-change: all;
    transition: 0.2s all ease-in-out;
    &--text {
      padding: 11px 11px 8px;

      &:active {
        border-style: dashed;
        border-color: $color-black-05;
      }
      &:focus {
        outline: none;
        border-style: dashed;
        border-color: $color-black;
      }
      &::placeholder {
        color: $color-black-05;
      }
    }
  }
  &__help {
    width: 100%;
    text-align: center;
    color: $color-black-05;
    margin-top: 18px;
  }
}

.socials {
  @include setIconFont();

  display: flex;
  margin-right: -$socialsGap;
  &__item {
    font-size: 33px;
    color: $color-black-05;
    margin: 0 $socialsGap;
    transition: 0.2s color ease-in-out;
    &:hover {
      color: $color-black;
    }
  }
  &__link {
    display: block;
    color: inherit;
  }
}

.language-switcher {
  display: flex;
  &__item {
    margin-right: 8px;
    cursor: pointer;
    &:hover {
      color: $color-black;
    }
    &.active {
      text-decoration: underline;
    }
  }
}

.section-title {
  position: relative;
  letter-spacing: 0.01em;
  &__expander {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $color-black-05;
    font-size: 16px;
    cursor: pointer;

    transition: 0.1s all ease-in-out;
    &:hover {
      color: $color-black-066;
    }
  }
}
